@import "../../app.scss";
.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include mobile {
    flex-direction: column;
    gap: 10px;
    margin-top: 90px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mobile {
      gap: 10px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      color: orange;
      @include mobile {
        font-size: 50px;
      }
    }
    span {
      font-weight: 300px;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    @include mobile {
      gap: 10px;
    }
    @include mobile {
      width: 100%;
      padding: 10px;
    }
    h1 {
      color: orange;
      text-align: center;
      font-size: 100px;

      @include mobile {
        font-size: 50px;
      }
    }

    .phoneSvg {
      position: absolute;
      stroke: orange;
      z-index: -1;
      margin: auto;
      @include mobile {
        margin-left: -50px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mobile {
        gap: 5px;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 900;
        border-radius: 5px;
      }
    }
  }
}
